body,div,dl,dt,dd,ul,ol,li,h1,form,fieldset,input,textarea,p,th,td {
	margin:0;
	padding:0;
}
/*header*/
header{
	padding: 50%;
	text-align: center;
	color: black;
 }

 h1 {
	font-size:100%;
	font-weight:normal;
}
/*Bakgrunn og skrift*/
body{
	font-family: Cambria, Palatino, "Palatino Linotype", "Palatino LT STD", Georgia, serif;
	background-image: url('../images/background1.jpg');
	background-attachment: fixed;
	background-size:cover;
	padding: 20px;
    /*
    background-attachment: scroll;
    background-color: #74afad;
	background-size: cover;*/
	background-repeat: no-repeat;
	/*background-position: center center;*/
	font-weight: 400;
	font-size: 15px;
	color: #1d3c41;
	/*overflow-y: scroll;*/
}
.container > header{
	padding: 20px 30px 10px 30px;
	margin: 0px 20px 10px 20px;
	position: relative;
	display: block;
	text-shadow: 1px 1px 1px rgba(0,0,0,0.2);
    text-align: center;
}
/* setter fargen på boksen i midten som inneholder tekstfeltene */
#content form {
	background: #d9d9d9;
	filter: alpha(opacity=50);
	opacity: 0.9;

}
/* Styling for alle inputfelter i addNew*/
#addNewDiv1 div{
	margin-left: 20%;
	margin-right: 60%;

}

#addNewDiv2 div {

}
