.menuline {
  /*margin-left: 37%;*/
  z-index: 9999;
  width: 460px;
  margin: 0 auto;
  margin-bottom: 100px;
  padding: auto;

  font-family: Arial;
  font-weight: normal;
}

@media screen and (max-width: 900px) {
  .menuline {
    width: 400px;
  }
}

.menuline ul {
  display: block;
  list-style: none;
  padding: 5px;
  margin: -5px auto 0 auto;
  /*width: 450px;*/
  text-align: center;
  float: none;
}

.menuline ul li {
  display: block;
  position: relative;
  float: left;
  border: 1px solid #000;
  z-index: 9999;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

.menuline li ul {
  display: none;
}

.menuline ul li a {
  display: block;
  position: relative;
  background: #446f6d;
  padding: 15px;
  text-decoration: none;
  white-space: nowrap;
  color: #fff;
  box-sizing: border-box;
}

.menuline ul li ul li {
  text-align: left;
  margin-left: -6px;
}

.menuline ul li a:hover {
  background: #558c89;
}
.menuline li:hover ul {
  display: block;
  position: absolute;
}
.menuline li:hover li {
  float: none;
}
.menuline li:hover a {
  background: #446f6d;
}
.menuline li:hover li a:hover {
  background: #558c89;
}
