
.select-Title input{
  padding:5px;
  border-radius: 5px;
  width: 195px;
  height: 40px;
}

.select-ContactPerson input{
  padding:5px;
  border-radius: 5px;
  width: 195px;
  height: 40px;
}

.select-Description textarea{
  padding:5px;
  border-radius: 5px;
  width: 195px;
  height: 40px;
}

.descriptionField textarea {
  vertical-align: text-top;
}

input[type=date]{
  padding:5px;
  border-radius: 5px;
  width: 180px;
  height: 28px;
}
.select-company select{
  padding:5px;
  border-radius: 5px;
  width: 195px;
  height: 40px;
}
.select-priority select{
  padding:5px;
  border-radius: 5px;
  width: 195px;
  height: 40px;
}


input .ui-datepicker {
   background: #800033;
   color: #800033;
 }
 .ui-datepicker-title {
 	font-size:10px;
    text-align: left;
}
.ui-datepicker-prev, .ui-datepicker-next {
	font-size:10px;
    display: inline-block;
    width: 15px;
    height: 15px;
    text-align: center;
    cursor: pointer;
    background-repeat: no-repeat;
    overflow: hidden;
}
.ui-datepicker-prev {
    float: left;
    background-position: center -50px;
}
.ui-datepicker-next {
    float: right;
    background-position: center 0px;
}
div.ui-datepicker{
 font-size:10px;
}
